NODE_ENV=development
DATABASE_URL=postgres://postgres:postgres@localhost/soc_inno_0
NUXT_SESSION_PASSWORD=abababababababababababababababab
NUXT_PUBLIC_HOST=http://localhost:3000

# Disable https in csrf (enable prod build on localhost)
# NOTE: promise you will use csrf in production!
NITRO_CSURF_HTTPS=false
NITRO_CSURF_COOKIE_KEY=csrf

# support sending emails
NUXT_SMTP_HOST=10.0.0.10
NUXT_SMTP_HOST_TLS=mail.example.org
NUXT_SMTP_USER=
NUXT_SMTP_PASS=
NUXT_SMTP_FROM='"Soc-inno" <socinno@example.org>'
NUXT_SMTP_PORT=465

# support uploading files
# NOTE: please include a prefix in production !
NUXT_S3_PREFIX=soc-inno-dev-0
NUXT_S3_ENDPOINT=http://10.0.0.11:3900/
NUXT_S3_BUCKET_NAME=soc-inno
NUXT_S3_ACCESS_KEY=awdlijawdlijawdliajwdliajwd
NUXT_S3_SECRET_KEY=awdlijawdliajwdliajwdlijawdliajwdlijawd
NUXT_S3_USE_SSL=false
NUXT_S3_REGION=garage

# max file sizes
# 20 mb
NUXT_MAX_ATTACHMENT_SIZE=20971520
# 3 mb
NUXT_MAX_ILLUSTRATION_SIZE=3145728
# 20 mb
NUXT_MAX_PRIMARYPDF_SIZE=20971520

# administrator contact information displayed in footer
NUXT_PUBLIC_ADMIN_NAME=Unnamed
NUXT_PUBLIC_ADMIN_EMAIL=email@example.org

# webmaster contact information displayed in footer
NUXT_PUBLIC_WEBMASTER_NAME=Unnamed
NUXT_PUBLIC_WEBMASTER_EMAIL=email@example.org
NUXT_PUBLIC_WEBMASTER_LINK=https://example.org

# plausible analytics / usage tracking
NUXT_PLAUSIBLE_HOST=http://1.2.3.4
NUXT_PUBLIC_PLAUSIBLE_URL=https://plausible.example.net/socinno

# automatic error reporting (sentry protocol)
NUXT_PUBLIC_SENTRY_ENABLED=false
NUXT_PUBLIC_SENTRY_DSN=https://abcd1234@glitchtip.example.net/1
NUXT_SENTRY_ORG=orgname
NUXT_SENTRY_PROJECT=projectname
NUXT_SENTRY_URL=https://glitchtip.example.net/
